{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block Masthead %}

    {% include ('layout/header.html.twig') %}

{% endblock %}

{% block body %}

    <section class="page-section" id="connect">
        <div class="container card-contact">
            <div class="row justify-content-center">
                <h2 class="section-heading text-uppercase">Nouveau mot de passe</h2>
            </div>
            <form method="post" id="contactForm">
                <div class="row align-items-stretch mb-5 justify-content-center">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="password">Votre mot de passe</label>
                            <input class="form-control" id="password" name="password" type="password" required/>
                            <input value="{{ token }}" name="token" type="hidden"/>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary btn-xl text-uppercase" type="submit">Enregistrer</button>
                </div>
            </form>
        </div>
    </section>

{% endblock %}
