{% extends 'base.html.twig' %}

{% block title %}Edit-bannière{% endblock %}

{% block Masthead %}

    {% include ('layout/header-trick-edit.html.twig') %}

{% endblock %}

{% block body %}

    <section class="page-section bg-light" id="trick">

        <div class="container text-center">
            <h1 class="section-heading text-uppercase">Modifier L'image à la une</h1><hr>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                {% if trick.images %}
                    {% for image in trick.images %}
                        <div class="card">
                            <img src="{{ asset('uploads/trick/' ~ image.imageName) }}" alt="{{ image.AltImage }}"
                                 class="card-img-top" width="280px" height="160px">
                            <div class="card-body text-center">
                                <a href="{{ path('trick.banner.edit', {slug: trick.slug, name: image.imageName}) }}" class="btn btn-primary btn-sm text-uppercase" type="submit">Choisir</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </section>

{% endblock %}

