{% extends 'base.html.twig' %}

{% block title %}Admin - figure{% endblock %}

{% block body  %}

    <div class="container mt-4">
        <h1>Gérer les figures</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for trick in tricks %}
                <tr>
                    <td>{{ trick.title }}</td>
                    <td>
                        <a href="{{ path('admin.trick.edit', {id: trick.id}) }}" class="btn btn-secondary">Modifier</a>
                        <a href="{{ path('admin.trick.delete', {id: trick.id}) }}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
