<header class="masthead" style="height: 50vh;background-image: url('{% if trick.images is empty %}{{ asset('assets/img/trick-show-default.jpg') }}{% else %}{{ asset('uploads/trick/' ~ trick.images.0.imageName) }}{% endif %}')">
    <div class="container">
        <div class="masthead-subheading">Catégorie: {{ trick.category.name }}</div>
        <div class="masthead-heading">{{ trick.title }}</div>
    </div>
</header>